@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet {
  @apply bg-white opacity-100 !important;
}

.swiper-pagination-bullet-active {
  @apply bg-blue-500 !important;
}

.swiper-button-next,
.swiper-button-prev {
  @apply text-black/50 scale-75 hover:scale-100 transition-transform duration-300 !important;
}
html,body{
  -ms-scroll-chaining: none;
overscroll-behavior: none;

}

::selection{
  background-color: transparent;
}

::-webkit-scrollbar {
    display: none;
  
  }
  
   ::-webkit-scrollbar-track {
    background: #000;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #04CCFA; 
    border-radius: 10px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #0091b1;
  } 